body {
     font: normal 15pt Arial;
     text-align: center;
     margin: 0 auto;
     height: 900px;     
}

section {
     background-color: rgb(159, 221, 141);
     border-radius: 10px;
     box-shadow: 2px 2px 20px 3px black;
     width: 600px;
     margin: auto;
     padding: 4px;
     max-width: 70%;  
}

h3,p {
     padding: 5px;
     margin: 0 auto;
     color: white;
     text-align: center;
     font-size: 11pt;   
     background-color: rgba(0, 0, 0,0.5);
}

img#imagem {
     width: 600px;    
     border-radius: 80%;
     max-width: 100%;    
}

.rodape p {
     text-align: center;
     color: black;
}

#foto, #msg {
     background-color: black;  
}

.time {
     position: absolute;
     color: rgb(40, 204, 19);  
     font-size: 40pt;
     font-weight: bold;
     
     margin-top: 171px;
     width: 600px;
     max-width: 70%;

     opacity: 0.6;
}

.horarios {
     width: 850px;
     max-width: 80%;
     margin-top: 50px;
     border: 1.5px solid red;
} 